
/* Navbar */

.navbar { margin-right: 10px; margin-left: 10px; opacity: 0.85}
.navbar_button_text { color: #d5d5d5; opacity: 0.85; }
#navbar_form_index_image { width: 30%; background: #d5d5d5}
#navbar_button_set { margin-right: 2px; margin-left: 4px; }
#navbar_button_sound { margin-right: 2px; margin-left: 2px; color: white }
#navbar_button_continue { margin-right: 2px; margin-left: 2px; color: white }
#navbar_button_previous { margin-right: 2px; margin-left: 2px; }
#navbar_button_time { margin-right: 10px; margin-left: 2px; color: #555555 }

/* Control of Timer / Top */

.task1_top, .task2_top, .task3_top, .exercise_top, .brake_top, .loss_top
{
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 150%;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 100%;
  text-align: center;
  opacity: 0.85;
}
.task1_top_name { color: black; }
.task2_top_name { color: black; }
.task3_top_name { color: black; }
.exercise_top_name { color: black; }
.brake_top_name { color: black; }
.loss_top_name { color: black; }

.task1_top_massage { color: gray; }
.task2_top_massage { color: gray; }
.task3_top_massage { color: gray; }
.exercise_top_massage { color: gray; }
.brake_top_massage { color: gray; }
.loss_top_massage { color: gray; }

.task1_top_completed { color: #b0b0b0; font-size: 90%; }
.task2_top_completed { color: #b0b0b0; font-size: 90%; }
.task3_top_completed { color: #b0b0b0; font-size: 90%; }

.task1_top_interrupted { color: #b0b0b0; font-size: 90%; }
.task2_top_interrupted { color: #b0b0b0; font-size: 90%; }
.task3_top_interrupted { color: #b0b0b0; font-size: 90%; }

.exercise_top_intime { color: #b0b0b0; font-size: 90%; }
.brake_top_intime { color: #b0b0b0; font-size: 90%; }
.loss_top_intime { color: #b0b0b0; font-size: 90%; }

.exercise_top_late { color: #b0b0b0; font-size: 90%; }
.brake_top_late { color: #b0b0b0; font-size: 90%; }
.loss_top_late { color: #b0b0b0; font-size: 90%; }

/* Control of Timer / Buttons */

.task1_button_set { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }
.task2_button_set { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }
.task3_button_set { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }
.exercise_button_set { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }
.brake_button_set { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }
.loss_button_set { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }

.task1_button_start { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }
.task2_button_start { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }
.task3_button_start { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }
.exercise_button_start { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }
.brake_button_start { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }
.loss_button_start { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }

.task1_button_stop { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }
.task2_button_stop { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }
.task3_button_stop { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }
.exercise_button_stop { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }
.brake_button_stop { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }
.loss_button_stop { color: #e5e5e5; opacity: 0.8; margin-bottom: 3px; }

/* Summary Table */

.table_sum { margin-right: 20px; margin-left: 20px; }
thead { color: gray; opacity: 0.85; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
tbody { color: green; opacity: 0.85; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }